.car-list{
    width: 100%;
}

.car-card{
    margin: 20px 0px;
    background-color: #f7f8f9;
}

.car-card .car-details{
    padding: 0px 20px;
}

.mat-card-content{
    display: flex;
    column-gap: 20px;
    margin-bottom: 0px;
}

.mat-card-md-image{
    height: 50px;
}

.car-details-title{
    font-size: large;
    margin-bottom: 5px;
}

.additional-info span{
    display: inline-flex;
    color: #535353;
    margin: 0px 5px;
    column-gap: 0;
    font-size: smaller;
}

mat-icon {
    font-size: 20px;
}

.free-color{
    color: green;
    font-weight: 500;
}
.card-footer{
    margin: 5px 0px;
}
.card-footer strong {
    color: green;
    padding: 0px 5px;
}

.gray-clr{
    color: gray;
}

.footer { 
    position: fixed;
    bottom: 10px;
    left: 30%;
}

.footer button{
    border-radius: 0px;
    color: #3f51b5;
}